// Base settings for all themes that can optionally be
// overridden by the super-theme

$red: #0f4583 !default;
$yellow: #BBB28D !default; //#9e8f66
$body-bg: #fff !default; //$white

// Background of the presentation
$backgroundColor: $body-bg;

// Primary/body text
$mainFont: 'Open Sans', 'Lato', sans-serif;
$mainFontSize: 30px;
$mainColor: $oc-gray-8;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'dusha', Impact, sans-serif;
$headingColor: $red;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.77em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;

// Links and actions
$linkColor: $yellow;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #F0EBE4;
$selectionColor: $red;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
  background: $backgroundColor;
}
