/**
 * FONT IMPORTS
 */
@font-face {
  font-family: 'dusha';
  src: url('../../static/fonts/Dusha - FIFA World Cup 2018.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import 'settings';
@import 'cover';
@import 'page';

h1.page-tilte {
  font-size: 2.6em !important;
  padding-top: .2em !important;
  padding-bottom: .4em !important;
  margin-bottom: .4em !important;
}

img {
  border: none !important;
}
